## LIST in Python:- 
A list in Python is a collection of items that are ordered and changeable.
It means:
You can store multiple values (like numbers, strings, or even other lists) in a single variable.
The order in which you add the items is preserved.
You can change, add, or remove elements any time — that’s why lists are called mutable.
Lists are very useful when you need to store a group of data together, such as a list of names, marks, or products.

In [4]:
## mutable vs immutable
str1 = "Tarique Anwer"
print(str1)
type(str1)

Tarique Anwer

str

In [5]:
str1 = "Khan"
print(str1)

Khan

In [9]:
## string are immutable
str1[2] = "xyz"

TypeError: 'str' object does not support item assignment

In [14]:
##lists -- mutable
lst = [2, 6, 4, 7, "course", "Data Science", 3.14]
print(lst)
lst[4] = "Tarique"
print(lst[4])
type(lst)

[2, 6, 4, 7, 'course', 'Data Science', 3.14]
Tarique

list

In [17]:
lst = list((4, 5, 2, 6, 7, 1, 9))
type(lst)
print(lst)

[4, 5, 2, 6, 7, 1, 9]

In [19]:
lst = [2, 4, 5, 1, 6, 7, 9]

In [21]:
for i in lst:
    print(i**2)

4
16
25
1
36
49
81

In [24]:
# len(lst)
# max(lst)
min(lst)

1

In [18]:
type([])

list

In [26]:
list_example= []
type(list_example)

list

In [32]:
lst = ["Sql", "Statistics", "Python", 20, 30, 100, 21, 80]
len(lst)

8

In [34]:
type(lst)

list

## Append Method
Append is used to add elements in the list

In [35]:
lst

['Sql', 'Statistics', 'Python', 20, 30, 100, 21, 80]

In [40]:
lst.append("Data Science")
lst

['Sql',
 'Statistics',
 'Python',
 20,
 30,
 100,
 21,
 80,
 'Data Science',
 'Data Science',
 'Data Science']

In [41]:
lst.append(["Tarique", "Khan"])
lst

['Sql',
 'Statistics',
 'Python',
 20,
 30,
 100,
 21,
 80,
 'Data Science',
 'Data Science',
 'Data Science',
 ['Tarique', 'Khan']]

In [44]:
lst[1:11]

['Statistics',
 'Python',
 20,
 30,
 100,
 21,
 80,
 'Data Science',
 'Data Science',
 'Data Science']

In [47]:
lst.remove("Data Science")

In [48]:
lst

['Sql',
 'Statistics',
 'Python',
 20,
 30,
 100,
 21,
 80,
 'Data Science',
 ['Tarique', 'Khan']]

In [60]:
# indexing in list
lst[9]

['Tarique', 'Khan']

In [59]:
lst[9][0]

'Tarique'

In [61]:
lst[1:6]

['Statistics', 'Python', 20, 30, 100]

## Insert Function

In [62]:
lst

['Sql',
 'Statistics',
 'Python',
 20,
 30,
 100,
 21,
 80,
 'Data Science',
 ['Tarique', 'Khan']]

In [63]:
# insert in a specific order
lst.insert(3, "Machine Learning")
lst

['Sql',
 'Statistics',
 'Python',
 'Machine Learning',
 20,
 30,
 100,
 21,
 80,
 'Data Science',
 ['Tarique', 'Khan']]

In [64]:
lst.append("Data Scientist")

In [65]:
lst

['Sql',
 'Statistics',
 'Python',
 'Machine Learning',
 20,
 30,
 100,
 21,
 80,
 'Data Science',
 ['Tarique', 'Khan'],
 'Data Scientist']

In [66]:
lst = [2, 1, 4, 5, 3]

In [69]:
lst.append([7,9])
lst

[2, 1, 4, 5, 3, [7, 9], [7, 9]]

In [70]:
lst.remove([7,9])

In [71]:
lst

[2, 1, 4, 5, 3, [7, 9]]

## Extend method

In [83]:
lst = [1, 2, 3, 4, 5]
lst.append([6, 7, 8])
lst

[1, 2, 3, 4, 5, [6, 7, 8]]

In [84]:
lst = [1, 2, 3, 4, 5, 6]
lst.extend([7, 8, 9])
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Different type of operations that we can perform in list

In [86]:
lst = [4, 6, 11, 15, 20, 30]
sum(lst)

86

In [88]:
lst*5

[4,
 6,
 11,
 15,
 20,
 30,
 4,
 6,
 11,
 15,
 20,
 30,
 4,
 6,
 11,
 15,
 20,
 30,
 4,
 6,
 11,
 15,
 20,
 30,
 4,
 6,
 11,
 15,
 20,
 30]

In [89]:
for i in lst:
    print(i/5)

0.8
1.2
2.2
3.0
4.0
6.0

In [90]:
lst

[4, 6, 11, 15, 20, 30]

## Pop() method

In [91]:
lst.pop()

30

In [92]:
lst

[4, 6, 11, 15, 20]

In [93]:
lst.pop(3)

15

In [94]:
lst

[4, 6, 11, 20]

## count():Calculates total occurrence

In [97]:
lst = [2, 3, 4, 1, 4, 5, 6, 2, 5, 6, 3, 2, 1, 4, 3]
# it will calculate how many times 4 occures
lst.count(4)

3

In [98]:
# Calculates total length of List
len(lst)

15

In [102]:
lst.index(6)

6

In [103]:
min(lst)

1

In [104]:
max(lst)

6

## Set in Python
A Set in Python is a collection of unique and unordered elements.
That means:
A set cannot have duplicate values.
The items in a set do not have a fixed order (so you cannot access them by index).
Sets are mutable, which means you can add or remove elements, but you cannot change individual elements.
Sets are mainly used when you want to store unique items and perform mathematical operations like union, intersection, and difference.

In [106]:
## Defining an empy set
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [107]:
print(set([4, 5, 2, 7, 2, 3, 4, 2, 1, 2]))  # no duplicates elements

{1, 2, 3, 4, 5, 7}

In [117]:
set_1 = set([6, 3, 2, 9, 11])
print(set_1)

{2, 3, 6, 9, 11}

In [118]:
set_1.add(1)
print(set_1)

{1, 2, 3, 6, 9, 11}

In [108]:
set_var = {2, 3, 4, 4, 5, 5, 3, 2, 5, 1}
set_var

{1, 2, 3, 4, 5}

In [111]:
set_var = {"Python", "Machine Learning", "SQL", "Statistics", "Mathematics"}
print(set_var)
type(set_var)

{'SQL', 'Statistics', 'Python', 'Mathematics', 'Machine Learning'}

set

In [113]:
for i in set_var:
    print(i)

SQL
Statistics
Python
Mathematics
Machine Learning

In [114]:
set_var.add("Power BI")
set_var

{'Machine Learning', 'Mathematics', 'Power BI', 'Python', 'SQL', 'Statistics'}

In [115]:
set_var.add("Excel")
set_var

{'Excel',
 'Machine Learning',
 'Mathematics',
 'Power BI',
 'Python',
 'SQL',
 'Statistics'}

In [122]:
set1 = {"Gen AI","Python", "Machine Learning", "SQL"}
set2 = {"Python", "Machine Learning", "SQL", "Statistics", "Mathematics"}

In [120]:
set2.intersection_update(set1)
set2

{'Machine Learning', 'Python', 'SQL'}

In [125]:
set2.difference(set1)  # difference

{'Mathematics', 'Statistics'}

In [126]:
set2.difference_update(set1)

In [128]:
print(set2)

{'Statistics', 'Mathematics'}

In [143]:
set1 = {"Python", "Machine Learning", "SQL"}
set2 = {"Python", "Machine Learning", "SQL", "Statistics", "Mathematics"}

In [146]:
set2.issuperset(set1)

True

In [148]:
set2.issubset(set1)

False

## Dictionary in Python
A dictionary in Python is a collection of data stored in key-value pairs.
Each value is connected to a key, and you use the key to access its value — just like you use a name to find a phone number in a contact list.
Dictionaries are mutable, so you can add, change, or delete items.
They are very useful for storing structured information — for example, a student’s name, age, and marks.

In [149]:
dic = {}

In [150]:
type(dic)

dict

In [151]:
type(dict())

dict

In [152]:
type({20:"Tarique Anwer Khan"})

dict

In [158]:
dict(name = "Tarique Anwer", age = 25, sur_name = "Khan")

{'name': 'Tarique Anwer', 'age': 25, 'sur_name': 'Khan'}

In [159]:
my_dict = {"Skill1": "Sql", "Skill2": "Python", "Skill3": "Statistics", "Skill4": "Machine Learning", "Skill5": "Power BI"}
type(my_dict)

dict

In [166]:
my_dict.items()

dict_items([('Skill1', 'Sql'), ('Skill2', 'Python'), ('Skill3', 'Statistics'), ('Skill4', 'Machine Learning'), ('Skill5', 'Power BI')])

In [167]:
my_dict.keys()

dict_keys(['Skill1', 'Skill2', 'Skill3', 'Skill4', 'Skill5'])

In [168]:
my_dict.values()

dict_values(['Sql', 'Python', 'Statistics', 'Machine Learning', 'Power BI'])

In [163]:
my_dict["Skill3"]   # access the item values based on key

'Statistics'

In [164]:
my_dict["Skill1"]

'Sql'

In [172]:
for i in my_dict.keys():
    print(i)

Skill1
Skill2
Skill3
Skill4
Skill5

In [173]:
for i in my_dict.values():
    print(i)

Sql
Python
Statistics
Machine Learning
Power BI

In [174]:
# we can also check both keys and values
for i in my_dict.items():
    print(i)

('Skill1', 'Sql')
('Skill2', 'Python')
('Skill3', 'Statistics')
('Skill4', 'Machine Learning')
('Skill5', 'Power BI')

In [175]:
# Adding items in dictionaries
my_dict["Skill6"] = "Gen AI"

In [176]:
my_dict

{'Skill1': 'Sql',
 'Skill2': 'Python',
 'Skill3': 'Statistics',
 'Skill4': 'Machine Learning',
 'Skill5': 'Power BI',
 'Skill6': 'Gen AI'}

In [177]:
my_dict["Skill3"] = "Math and Statistics"

In [178]:
my_dict

{'Skill1': 'Sql',
 'Skill2': 'Python',
 'Skill3': 'Math and Statistics',
 'Skill4': 'Machine Learning',
 'Skill5': 'Power BI',
 'Skill6': 'Gen AI'}

## Nested Dictionary

In [179]:
student1 = {"Math": 85, "Science": 90, "English": 88}
student2 = {"Math": 78, "Science": 82, "English": 80}
student3 = {"Math": 92, "Science": 89, "English": 95}

students = {"John": student1, "Emma": student2, "Raj": student3}

In [180]:
print(students)

{'John': {'Math': 85, 'Science': 90, 'English': 88}, 'Emma': {'Math': 78, 'Science': 82, 'English': 80}, 'Raj': {'Math': 92, 'Science': 89, 'English': 95}}

In [186]:
print(students["Emma"])

{'Math': 78, 'Science': 82, 'English': 80}

In [187]:
print(students["John"]["Math"])

85

## Tuple in Python
A tuple is almost like a list, but there’s one big difference — tuples cannot be changed after they are created.
That’s why tuples are called immutable.
Once you store data in a tuple, you cannot add, remove, or modify its elements.
Tuples are used when you want to store fixed data — something that should not change.

In [188]:
# create an empty Tuples

my_tuple = tuple()

In [189]:
type(my_tuple)

tuple

In [190]:
my_tuple = ()

In [191]:
type(my_tuple)

tuple

In [197]:
my_tuple = ("Tarique", "Anwer", "Khan", "xyz")

In [193]:
print(my_tuple)

('Tarique', 'Anwer', 'Khan', 'xyz')

In [194]:
my_tuple = ("Hello", "World")

In [195]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [200]:
my_tuple.count("Khan")

1

In [202]:
my_tuple.index("xyz")

3